<main>
    <section class="">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 rounded-5 py-2 px-4" style="background-color: aliceblue; margin-top: 110px;">
                <div class="col">
                    <h3 *ngIf="!chosenLevel" class="mt-3 mb-3" style="color: rgb(100, 100, 100); font-weight: 400;">Your loyalty programs</h3>
                    <h3 *ngIf="chosenLevel" class="mt-3 mb-3" style="color: rgb(100, 100, 100); font-weight: 400;">Levels: {{ programName }}</h3>
                </div>
                <div class="row mb-3">
                  <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 btn-group shadow-0">
                    
                  </div>
                </div>
                <div class="row mb-2">
                  <span *ngIf="!chosenLevel && totalLoyaltyPrograms === 1">You have a total of {{ totalLoyaltyPrograms }} loyalty program</span>
                  <span *ngIf="!chosenLevel && totalLoyaltyPrograms != 1">You have a total of {{ totalLoyaltyPrograms }} loyalty programs</span>
                  <span *ngIf="chosenLevel && totalLoyaltyLevels === 1">There is a total of {{ totalLoyaltyLevels }} level</span>
                  <span *ngIf="chosenLevel && totalLoyaltyLevels != 1">There is a total of {{ totalLoyaltyLevels }} levels</span>
                </div>
                <div class="row">
                  <div *ngIf="chosenLevel" div class="col-2 me-4">
                    <button class="btn btn-primary mb-3" (click)="back()">Back</button>
                  </div>
                  <div *ngIf="chosenLevel" class="col-4 me-4">
                    <button class="btn btn-success mb-3" (click)="newLevel()">Add new Level</button>
                  </div>
                </div>
            </div>
        </div>

        <div *ngIf="totalLoyaltyPrograms > 0 && !chosenLevel" class="row mt-5 justify-content-center">
          <div class="col-xxl-6 col-xl-5">
            <table class="table table-bordered table-striped">
              <thead class="table-dark">
                <tr>
                  <th class="equal-width">Name</th>
                  <th class="equal-width">Levels</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let program of this.programs; let i = index">
                    <td class="text-center" style="font-size: large">
                      {{ program.name }}
                    </td>
                    <td class="text-center">
                      <div class="btn-group">
                        <a class="btn btn-primary me-1" (click)="handleLevels(i)">See details</a> 
                      </div>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div *ngIf="chosenLevel && totalLoyaltyLevels > 0" class="row mt-5 justify-content-center" style="overflow: auto;">
            <div class="col-xxl-8 col-xl-7">
              <table class="table table-bordered table-striped">
                <thead class="table-dark">
                  <tr>
                    <th style="width: 30%;">Name</th>
                    <th style="width: 30%;">Value</th>
                    <th style="width: 40%;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let level of this.levels; let i = index">
                    <td class="text-center" style="width: 30%;">
                      <div style="font-size: large;">
                          {{ level.name }}
                      </div>
                    </td>
                    <td class="text-center" style="width: 30%;">
                        <div style="font-size: large;">
                            {{ level.valueFactor.valueFactor }}
                        </div>
                      </td>
                    <td class="text-center" style="width: 40%;">
                      <div>
                        <a class="btn btn-primary me-1" (click)="editLevel(level.id, level.name, level.valueFactor.valueFactor)">Edit</a>
                        <a class="btn btn-success me-1" (click)="addPromocode(level.id)">Add Promocode</a>
                        <a class="btn btn-danger" (click)="confirmDeleteLevel(level.id)">Delete</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>

        <div *ngIf="totalLoyaltyPrograms === 0" class="row mt-4 justify-content-center">
          <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8">
            <h3 style="font-weight: 400;">
              Your program list is empty!
            </h3>
          </div>
        </div>

        <div *ngIf="chosenLevel && totalLoyaltyLevels === 0" class="row mt-4 justify-content-center">
          <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8">
            <h3 style="font-weight: 400;">
              Your levels list is empty!
            </h3>
          </div>
        </div>
    </section>
</main>

  <script>
    function submitForm() {
        document.getElementById('myForm').submit();
    }
</script>
<script>
  $(document).ready(function(){
    $("#dropdown").change(function(){
      var selectedOption = $(this).val();
      $(this).prepend($('option[value="' + selectedOption + '"]'));
    });
  });
</script>
<script type="text/javascript"></script>